In [3]:
import numpy as np
import pandas as pd

import sidetable
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [4]:
df= pd.read_csv(r'C:\Users\Yibabe\Desktop\10academyAIMweek-6\data\cleaned.csv')

In [12]:
df.head()

,Unnamed: 0,TransactionId,BatchId,AccountId,SubscriptionId,CustomerId,CurrencyCode,CountryCode,ProviderId,ProductId,ProductCategory,ChannelId,Amount,Value,TransactionStartTime,PricingStrategy,FraudResult
0,0,TransactionId_76871,BatchId_36123,AccountId_3957,SubscriptionId_887,CustomerId_4406,UGX,256,ProviderId_6,ProductId_10,airtime,ChannelId_3,1000.0,1000,2018-11-15T02:18:49Z,2,0
1,1,TransactionId_73770,BatchId_15642,AccountId_4841,SubscriptionId_3829,CustomerId_4406,UGX,256,ProviderId_4,ProductId_6,financial_services,ChannelId_2,-20.0,20,2018-11-15T02:19:08Z,2,0
2,2,TransactionId_26203,BatchId_53941,AccountId_4229,SubscriptionId_222,CustomerId_4683,UGX,256,ProviderId_6,ProductId_1,airtime,ChannelId_3,500.0,500,2018-11-15T02:44:21Z,2,0
3,4,TransactionId_28195,BatchId_38780,AccountId_4841,SubscriptionId_3829,CustomerId_988,UGX,256,ProviderId_4,ProductId_6,financial_services,ChannelId_2,-644.0,644,2018-11-15T03:34:21Z,2,0
4,5,TransactionId_23223,BatchId_25954,AccountId_1078,SubscriptionId_4238,CustomerId_1432,UGX,256,ProviderId_6,ProductId_3,airtime,ChannelId_3,2000.0,2000,2018-11-15T03:35:10Z,2,0

In [5]:
df.describe()

,Unnamed: 0,CountryCode,Amount,Value,PricingStrategy,FraudResult
count,64273.000000,64273.0,64273.000000,64273.000000,64273.000000,64273.000000
mean,47378.207194,256.0,597.491746,794.924898,2.176871,0.000031
std,27781.143523,0.0,931.377974,772.697956,0.609512,0.005578
min,0.000000,256.0,-3600.000000,2.000000,0.000000,0.000000
25%,23996.000000,256.0,-50.000000,50.000000,2.000000,0.000000
50%,46396.000000,256.0,500.000000,900.000000,2.000000,0.000000
75%,71084.000000,256.0,1000.000000,1000.000000,2.000000,0.000000
max,95661.000000,256.0,3629.000000,3629.000000,4.000000,1.000000

In [19]:
df.stb.freq(['ChannelId'], style = True)

In [21]:

df.stb.freq(['ProductId'], style = True)

In [20]:

df.stb.freq(['ProductCategory'], style = True)

In [10]:
# REASON - check categories
df.stb.freq(['FraudResult'], style = True)

In [11]:
# REASON - check categories
df.stb.freq(['PricingStrategy'], style = True)

In [14]:
# REASON - check categories
df.stb.freq(['PricingStrategy'], style = True)

In [17]:

df.stb.freq(['PricingStrategy'], style = True)